.*
!.editorconfig
!.eslintignore
!.eslintrc.js
!.github
!.gitignore
!.env.template
!.htmlvalidate.json
!.nvmrc
!.stylelintignore
!.stylelintrc.json
auth.json
/build/
/certificates/
/coverage/
/public/*
!/public/themes/
/vendor/
/node_modules/
package-lock.json
