.*
!.editorconfig
!.eslintignore
!.eslintrc.js
!.github
!.gitignore
!.env.template
!.htmlvalidate.json
!.stylelintignore
!.stylelintrc.json
auth.json
coverage/
/docker/data/
/public/*
!/public/themes/
/vendor/
/node_modules/
package-lock.json
